<table class="list" id="attrList">
  <thead>
    <tr>
      <th>Name</th>
      <th>In File</th>
      <th>File Mod Date</th>
    </tr>
  </thead>
  <tbody>
    <TMPL_LOOP ATTR_LINKS>
      <tr>
	<td><a href="showAllData.cgi?type=attr&sha=<TMPL_VAR ESCAPE=HTML NAME='SHA_SIG'>" onclick="return updateBar('Attribute','<TMPL_VAR NAME='ATTR_ID'>','<TMPL_VAR NAME='SHA_SIG'>');">
	    <TMPL_VAR NAME="ATTR_ID"></a>
	</td>
	<td>
	  <TMPL_VAR NAME="FILE_NAME">
	</td>
	<td>
	  <TMPL_VAR NAME="MOD_DATE">
	</td>
      </tr>
    </TMPL_LOOP>
  </tbody>
</table>
<div id="attrPager" class="pager">
  <TMPL_INCLUDE NAME="pager.tmpl">
</div>
