<form>
  <img src="/css/images/first.png" class="first"/>	
  <img src="/css/images/previous.png" class="prev"/>
  <input type="text" class="pagedisplay" disabled/>
  <img src="/css/images/next.png" class="next"/>
  <img src="/css/images/last.png" class="last"/>
  <select class="pagesize">
    <option selected="selected"  value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="60">60</option>
    <option value="70">70</option>
    <option value="80">80</option>
    <option value="90">90</option>
    <option value="100">100</option>
  </select>
</form>
