<div id="container">
  <div id="header">
    <TMPL_INCLUDE NAME="topBar.tmpl">
  </div>

  <div id="content">
    <div id="navbar-wrapper">
      <TMPL_INCLUDE NAME="navBar.tmpl">
    </div>

    <div id="data-content">

      <TMPL_LOOP PROJECT_DATA>
	<table class="dataTable">
	  <thead>
	    <tr>
	      <th colspan="2">Maven Project: <TMPL_VAR NAME="ARTIFACT"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th>Pom File SHA</th>
	      <td><TMPL_VAR NAME="SHA_POM"></td>
	    </tr>
	    <tr>
	      <th>Artifact</th>
	      <td><TMPL_VAR NAME="ARTIFACT"></td>
	    </tr>
	    <tr>
	      <th>Version</th>
	      <td><TMPL_VAR NAME="VERSION"></td>
	    </tr>
	    <tr>
	      <th>Group Id</th>
	      <td><TMPL_VAR NAME="GROUP_ID"></td>
	    </tr>
	    <tr>
	      <th>Organization</th>
	      <td><TMPL_VAR NAME="ORG_NAME"></td>
	    </tr>
	    <tr>
	      <th>Pom file</th>
	      <td><TMPL_VAR NAME="POM_NAME"></td>
	    </tr>
	    <tr>
	      <th>Files</th>
	      <td class="button-cell">
		<form action="/cgi-bin/displayObjects.cgi" method="post">
		  <input name="input" type="hidden" value="getFilesForProject:<TMPL_VAR ESCAPE=HTML NAME='SHA_POM'>"/>
		  <input type="submit" name="submit" value="Search"/>
		  <input type="hidden" name="type" value="query"/>
		  <input name="fileBox" value="file" type="hidden"/>
		</form>
	      </td>
	    </tr>
	    <tr>
	      <th>Containers</th>
	      <td class="button-cell">
		<form action="/cgi-bin/displayObjects.cgi" method="post">
		  <input name="input" type="hidden" value="getContainersForProject:<TMPL_VAR ESCAPE=HTML NAME='SHA_POM'>"/>
		  <input type="submit" name="submit" value="Search"/>
		  <input type="hidden" name="type" value="query"/>
		  <input name="containerBox" value="container" type="hidden"/>
		</form>
	      </td>
	    </tr>
	  </tbody>
	</table>

      </TMPL_LOOP>
    </div>
    <div id="sidebar"></div>
  </div>
</div>
