#topBar { 
    text-align: center;
    padding: 20px;
}

#checkBoxs {
    padding: 10px;
    color: #4c6c74;
    font-weight: bold;
}

#searchText {
    width: 350px;
    height: 22px;
    margin: 0px;
    border: solid;
    border-width: 1px;
    border-color: #6d929b;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 5px;
}

#searchButton {
    margin: 0px;
    padding: 5px 15px;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid;
    border-color: #e8d0a9;
    border-width: 2px;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#92b6be), to(#6d929b));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
}

#topBar form {
    padding-top: 20px;
}

